[Desktop Entry]
Type=Service
Name=cgCompress image files
X-KDE-ServiceTypes=ThumbCreator
MimeType=image/x-spillerrec-dump;
X-KDE-Library=cgthumbnailer
CacheThumbnail=true
